<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<string>NO</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>marscoin.paymentrequest</string>
			<key>UTTypeDescription</key>
			<string>Marscoin Payment Request</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/litecoin-paymentrequest</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>marscoin.paymentrequest</string>
			<key>UTTypeDescription</key>
			<string>Marscoin Payment</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/litecoin-payment</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>marscoin.paymentrequest</string>
			<key>UTTypeDescription</key>
			<string>Marscoin Payment ACK</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/litecoin-paymentack</string>
			</dict>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to scan barcodes</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>LoafWallet-Dev</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to determine the closest node to you - never recorded or shared with anyone</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Marscoin Payment Request</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>marscoin.paymentrequest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Marscoin Payment</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>marscoin.payment</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Marscoin Payment ACK</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>LSItemContentTypes</key>
			<array>
				<string>marscoin.paymentack</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan barcodes</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Used to determine the closest node to you - never recorded or shared with anyone</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIAppFonts</key>
	<array>
		<string>CircularPro-Bold.otf</string>
		<string>CircularPro-Book.otf</string>
		<string>CircularPro-Medium.otf</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<string>NO</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>78c3ed0b9b087639aa7e73b6164c0f48ad274d01</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitName</key>
				<string>Crashlytics</string>
				<key>KitInfo</key>
				<dict/>
			</dict>
		</array>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to Unlock app &amp; Authorize payments</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>marscoin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marscoin</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.marscoin.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marsmobile</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>marsid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marsid</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
